/* General */
  @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    --primary-color:#393646;
    --text-white:#fff;
    --text-primary:#393646;
    --bold-font:'Rubik', sans-serif;
    --thin-font:'Heebo', sans-serif;
    --bg-white:#fff;
}
a{
    text-decoration: none;
}
.nav-item{
    padding:0 1rem;
}
.header{
    
}
h1{
    font-weight: 400;
    font-family: var(--bold-font);
}
h3{
    font-family: var(--thin-font);
    padding-top:0.625rem;
}
p{
    font-family: var(--thin-font);
}
.nav-item a{
    text-transform: uppercase;
}
.navbar-toggler{
    outline: unset;
    border:unset;
    box-shadow: none;
}
