*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    text-transform: capitalize;
    color: #2C3333;
}
html,body{
    background-color: #F6F1F1;
}


@tailwind base;
@tailwind components;
@tailwind utilities;